
body{
    background: linear-gradient(to right, #FF7E5F, #FEB47B, #FF6A00);
    color: #fff; 
    font-family: Arial, sans-serif;
}

.mingmingpixel { 
    display: inline-block;
    top: 0;
    width: 27.8%;
    height: 100%;
    object-fit: contain;   
    margin-top: 0%;
}

.container-1 {
    margin-right: 14.2%;
    margin-left: 20%;
    margin-bottom: 0%;
    align-items: center;
    text-align: center;
    vertical-align: top;
    box-shadow: 1px 3px 8px 6px white;
}

.container-0{
    border: 2px solid;
    background-color: white;
    width: 15%;
    height: 80%;
    position: absolute;
    margin-left: 1%;
    overflow: hidden;
    object-fit: contain;
    display: inline-block;
}

.container-1 p {
    font-size: 300%;
    width: 81%;
    color: white;
    margin-top: 3%;
    margin-right: 0.5%;
    margin-bottom: 0%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 11%;
    padding-left: 11%;
    font-family: Arial;
    background-color: transparent;
    text-shadow: 5px 3px 4px rgba(0, 0, 0, 0.6);
}

.container-1 p:hover {
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    font-size: 300%;
    text-shadow: 20px 20px 10px white;
}

.container-2{
    align-items: center;
    margin-top: 1%;
    display: inline-block;
    margin-left: 25%;
    width: 50%;
}

.HomeButtonChurch{
    position: absolute;
    margin-left: 89%;
    margin-top: 1.5%;
    font-family: arial;
    font-size: 150%;
    border-radius: 50px;
}

.HomeButtonChurch:hover{
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px ;
    
}

.HomeButton{
    position: absolute;
    margin-left: 48%;
    margin-top: 0%;
    font-family: arial;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-right: 0.1%;
    padding-left: 0.1%;
    border-radius: 50px;
}

.HomeButton:hover{
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 1px 2px 12px white;
}

.HomeIcon{
    object-fit: cover;
    display: flex;
    width: 50px;
    height: 50px;
}

.church{
    display: inline-block;
    vertical-align: top;
    margin-left: 11%;
    margin-right: 3%;
}

.church button{
    border: 2px solid white;
    font-size: 150%;
    font-family: arial;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 25px;
}

.church button:hover{
    background-color: transparent;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 1px 2px 12px white;
}

.classroom{
    display: inline-block;
    margin-right: 4%;
}

.classroom button{
    border: 2px solid white;
    font-size: 150%;
    font-family: arial;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 25px;
}

.classroom button:hover{
    background-color: transparent;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 1px 2px 12px white;
}

.court{
    display: inline-block;
    margin-right: 3%;
}

.court button{
    border: 2px solid white;
    font-size: 150%;
    font-family: arial;
    padding-top: 13%;
    padding-bottom: 13%;
    padding-right: 12%;
    padding-left: 12%;
    border-radius: 25px;
}

.court button:hover{
    background-color: transparent;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 1px 2px 12px white;
}

.community{
    display: inline-block;
    margin-right: 4%;
}

.community button{
    border: 2px solid white;
    font-size: 150%;
    font-family: arial;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 25px;
}

.community button:hover{
    background-color: transparent;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 1px 2px 12px white;
}

.culture{
    display: inline-block;
}

.culture button{
    border: 2px solid white;
    font-size: 150%;
    font-family: arial;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 25px;
}

.culture button:hover{
    background-color: transparent;
    color: white;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 1px 2px 12px white;
}

.teaserpic1{
    display: inline-block;
    position: absolute;
    vertical-align: top;
    margin-top: 24.7%;
    margin-left: 4%;
    object-fit: cover;
    border: 2px solid;
    width: 30%;
    height: 45%;
}

.teaserpic1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.teaserpic2{
    display: inline-block;
    position: absolute;
    margin-top: 2%;
    margin-left: 38%;
    margin-bottom: 2%;
    object-fit: cover;
    border: 2px solid;
    width: 30%;
    height: 40%;
}

.teaserpic2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.teaserpic3{
    position: absolute;
    vertical-align: top;
    margin-top: 2%;
    margin-left: 4%;
    object-fit: cover;
    border: 2px solid;
    width: 30%;
    height: 40%;
}

.teaserpic3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.teaserpic4{
    display: inline-block;
    position: absolute;
    margin-top: 24.7%;
    margin-left: 38%;
    margin-bottom: 2%;
    object-fit: cover;
    border: 2px solid;
    width: 30.3%;
    height: 415px;
}

.teaserpic4:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.teaserpic5{
    display: inline-block;
    position: absolute;
    margin-top: 15%;
    margin-left: 22.6%;
    margin-bottom: 2%;
    object-fit: cover;
    border: 2px solid;
    width: 500px;
    height: 300px;
}

.teaserpic5:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.titlenstp{
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 33%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 7px 5px 3px white;
}

.titlenstp:hover{
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    text-shadow: 5px 20px 10px white;
}

.nstp1{
    display: inline;
    margin-top: 0%;
    margin-left: 14%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.nstp1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.nstp2{
    display: inline;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.nstp2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.nstp3{
    display: inline;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.nstp3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.reflectionNSTP{
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 1px 7px 5px 3px white;
    font-size: 110%;
    line-height: 150%;
}

.reflectionNSTP:hover{
    background: transparent;
    border-color: white;
    color: black;
    transition: 0.3s;
    box-shadow: 1px 5px 5px 5px white;
}

.guidance1{
    display: inline;
    margin-top: 0%;
    margin-left: 14%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.guidance1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.guidance2{
    display: inline;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.guidance2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.guidance3{
    display: inline;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.guidance3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.titleguidance{
    display: inline-block;
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 39.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 7px 5px 3px white;
}

.titleguidance:hover{
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    text-shadow: 5px 20px 10px white;
}

.bigdatatitle{
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 19%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 7px 5px 3px white;
}

.bigdatatitle:hover{
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    text-shadow: 5px 20px 10px white;
}

.bigdata1{
    display: inline;
    margin-top: 0%;
    margin-left: 14%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.bigdata1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.bigdata2{
    display: inline;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.bigdata2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.bigdata3{
    display: inline;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 400px;
}

.bigdata3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.fitnesstitle{
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 7px 5px 3px white;
}

.fitnesstitle:hover{
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    text-shadow: 5px 20px 10px white;
}

.fitness1{
    position: absolute;
    display: inline;
    margin-top: 0%;
    margin-left: 10.5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
    vertical-align: top;
}

.fitness1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.fitness2{
    display: inline;
    position: absolute;
    margin-top: 17%;
    margin-left: 10.5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.fitness2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.fitness3{
    position: absolute;
    display: inline;
    margin-top: 34.3%;
    margin-left: 10.6%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.fitness3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.reflectionFitness{
    vertical-align: top;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 5.8%;
    margin-right: 2%;
    margin-top: 52%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 1px 7px 5px 3px white;
    font-size: 110%;
    line-height: 150%;
}

.reflectionFitness:hover{
    background: transparent;
    border-color: white;
    color: black;
    transition: 0.3s;
    box-shadow: 1px 5px 5px 5px white
}

.bingotitle{
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 10.7%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 7px 5px 3px white;
}

.bingotitle:hover{
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    text-shadow: 5px 20px 10px white;
}

.bingo1{
    position: absolute;
    display: inline;
    margin-top: 0%;
    margin-left: 9%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
    vertical-align: top;
}

.bingo1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.bingo2{
    display: inline;
    position: absolute;
    margin-top: 17%;
    margin-left: 9%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.bingo2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.bingo3{
    position: absolute;
    display: inline;
    margin-top: 34.3%;
    margin-left: 9%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.bingo3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.reflectionBingo{
    font-family: sans-serif;
    position: absolute;
    border: 2px solid white;
    display: inline-block;
    margin-left: 4.4%;
    margin-right: 2%;
    margin-top: 51.6%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 1px 7px 5px 3px white;
    font-size: 110%;
    line-height: 150%;
}

.reflectionBingo:hover{
    background: transparent;
    border-color: white;
    color: black;
    transition: 0.3s;
    box-shadow: 1px 5px 5px 5px white
}

.trivia1{
    position: absolute;
    display: inline;
    margin-top: 0%;
    margin-left: 41.5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
    vertical-align: top;
}

.trivia1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.trivia2{
    display: inline;
    position: absolute;
    margin-top: 17%;
    margin-left: 41.5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.trivia2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.trivia3{
    position: absolute;
    display: inline;
    margin-top: 34.3%;
    margin-left: 41.5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.trivia3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.triviatitle{
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 16.6%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 7px 5px 3px white;
}

.triviatitle:hover{
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    text-shadow: 5px 20px 10px white;
}

.reflectionTrivia{
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 37%;
    margin-right: 2%;
    margin-top: 52%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 1px 7px 5px 3px white;
    font-size: 110%;
    line-height: 150%;
}

.reflectionTrivia:hover{
    background: transparent;
    border-color: white;
    color: black;
    transition: 0.3s;
    box-shadow: 1px 5px 5px 5px white
}

.webdev{
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 7px 5px 3px white;
}

.webdev:hover{
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    text-shadow: 5px 20px 10px white;
}

.webdev1{
    position: absolute;
    display: inline;
    margin-top: 0%;
    margin-left: 5%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 460px;
    vertical-align: top;
}

.webdev1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.webdev2{
    display: inline;
    position: absolute;
    margin-top: 0%;
    margin-left: 22%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 460px;
}

.webdev2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.webdev3{
    position: absolute;
    display: inline;
    margin-top: 0%;
    margin-left: 39%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 460px;
}

.webdev3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.reflectionWebdev{
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 57%;
    margin-right: 2%;
    margin-top: 0%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 1px 7px 5px 3px white;
    font-size: 110%;
    line-height: 150%;
}

.reflectionWebdev:hover{
    background: transparent;
    border-color: white;
    color: black;
    transition: 0.3s;
    box-shadow: 1px 5px 5px 5px white
}

.responsible{
    vertical-align: top ;
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 55.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 1px 7px 5px 3px white;
}

.responsible:hover{
    background: transparent;
    border-color: white;
    color: whtie;
    transition: 0.3s;
    text-shadow: 5px 20px 10px white;
}

.responsible1{
    position: absolute;
    display: inline;
    margin-top: 0%;
    margin-left: 35.8%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 460px;
    vertical-align: top;
}

.responsible1:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.responsible2{
    display: inline;
    position: absolute;
    margin-top: 0%;
    margin-left: 53%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 500px;
    height: 460px;
}

.responsible2:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.responsible3{
    position: absolute;
    display: inline;
    margin-top: 0%;
    margin-left: 81%;
    margin-bottom: 1%;
    object-fit: cover;
    border: 2px solid;
    object-fit: cover;
    width: 300px;
    height: 460px;
}

.responsible3:hover{
    box-shadow: 1px 5px 5px 5px white;
    transition: 0.1s;
    border-color: white;
}

.reflectionResponsible{
    font-family: sans-serif;
    border: 2px solid white;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 1px 7px 5px 3px white;
    font-size: 110%;
    line-height: 150%;
}

.reflectionResponsible:hover{
    background: transparent;
    border-color: white;
    color: black;
    transition: 0.3s;
    box-shadow: 1px 5px 5px 5px white
}